/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-apr-2019, 18.33.44
    Author     : Roberto97
*/

html, body{
    overflow-x: hidden;
}
.effetto1{
    min-height:200px;
    position:relative;
    width:100%;
    margin:0;
    max-width:none;
    background-image: -webkit-linear-gradient(left, #000000 0%, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.5) 60%, #000000);
}
footer{
    background-color:#222222;
    color:white;
    font-family: 'Caveat';
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.85);
    top: 15%;
    bottom: unset;
}
.carousel-caption:hover{
    background-color: rgba(173, 153, 102, 0.85);
    -webkit-transition: background-color 0.4s linear;
    -ms-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}
.detailPost a{
    cursor: default;
    color: #777777;
    margin-right: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.key li {
    display: inline-block;
    font-size: 14px;
}
.key a{
    color: #000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.widget-wrap {
    background: #fafaff;
    padding: 20px 0px;
    border: 1px solid #eee;
}
.widget-wrap .single-sidebar-widget {
    margin: 30px 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.widget-wrap .post-category-widget .category-title {
    background: #b4505a;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
}
.widget-wrap .post-category-widget .cat-list li {
    padding-top: 15px;
    padding-bottom: 8px;
    border-bottom: 2px dotted #eee;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.widget-wrap .post-category-widget .cat-list li a {
    color: #677777;
}
.widget-wrap .post-category-widget .cat-list li p {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.widget-wrap .popular-post-widget .popular-title {
    background: #b4505a;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
}
.widget-wrap .popular-post-widget .popular-post-list {
    margin-top: 30px;
}
.widget-wrap .popular-post-widget .single-post-list {
    margin-bottom: 20px;
}
.widget-wrap .popular-post-widget .single-post-list .details {
    margin-left: 12px;
}
.widget-wrap .popular-post-widget .single-post-list .details h6 {
    font-weight: 600;
    margin-bottom: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    color: #4a4a4a;
}
.widget-wrap .popular-post-widget .single-post-list .details p {
    margin-bottom: 0px;
}
.widget-wrap .search-widget form.search-form input[type=text] {
    height: 40px;
    color: black;
    padding: 12px 22px;
    font-size: 14px;
    border: none;
    float: left;
    width: 80%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background: #b4505a;
}
.widget-wrap .search-widget form.search-form button {
    float: left;
    width: 20%;
    height: 40px;
    padding: 6px;
    background: #b4505a;
    color: #fff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}


/*ARTICOLO*/

blockquote{
    margin-top: 20px;
    padding: 30px !important;
    background-color: #f9f9ff;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    color: black;
    border-left: 2px solid !important;
}

body {
    color: #777777;
    font-family: "Roboto", sans-serif !important;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
    position: relative;
}
.single-post-area {
    padding-top: 80px;
    padding-bottom: 80px;
}
.post-content-area .single-post {
    margin-bottom: 50px;
}
.post-content-area .single-post .meta-details .realTags {
    margin-bottom: 30px;
}
.post-content-area .single-post .meta-details .tags li a {
    color: #000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.post-content-area .single-post .meta-details {
    text-align: right;
    margin-top: 35px;
}
.post-content-area .single-post .meta-details .tags li {
    display: inline-block;
    font-size: 14px;
}
.single-post-area .quotes {
    margin-top: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: -20.84px 21.58px 30px 0px rgba(176, 176, 176, 0.1);
    color: #777777;
}
.single-post-area .navigation-area {
    border-top: 1px solid #eee;
    padding-top: 30px;
}
.single-post-area .navigation-area .nav-left {
    text-align: left;
}
.single-post-area .navigation-area .nav-right {
    text-align: right;
}
.single-post-area .navigation-area .nav-left .thumb {
    margin-right: 20px;
    background: #000;
}
.single-post-area .arrow {
    position: absolute;
}
.comments-area {
    background: #fafaff;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
}
.comments-area .comment-list {
    padding-bottom: 30px;
}
.comments-area .comment-list.left-padding {
    padding-left: 25px;
}
.comment-form {
    background: #fafaff;
    text-align: center;
    border: 1px solid #eee;
    padding: 50px 20px;
    margin-top: 50px;
}
.single-post-area .social-links li {
    display: inline-block;
    margin-bottom: 10px;
}
.single-post-area .social-links li a {
    color: #000;
    padding: 7px;
    font-size: 14px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.post-content-area .single-post .user-name a, .post-content-area .single-post .date a, .post-content-area .single-post .view a, .post-content-area .single-post .comments a {
    color: #757777;
    margin-right: 10px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.single-post-area .navigation-area .nav-right .thumb {
    margin-left: 20px;
    background: #000;
}
.comments-area .date {
    font-size: 13px;
    color: #cccccc;
}
.comments-area .comment {
    color: #777777;
}
.comment-form h4 {
    text-align: center;
    margin-bottom: 50px;
}
.form-inline {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}
.comment-form .name {
    padding-left: 0px;
}
.comment-form .form-control {
    padding: 12px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 0px;
    width: 100%;
    font-size: 13px;
    color: black;
}
.comment-form .primary-btn {
    border-radius: 0px !important;
    border: 1px solid transparent;
    color: #fff;
    font-weight: 600;
    box-shadow: none !important;
}
.primary-btn {
    line-height: 48px;
    padding: 0 30px;
    border-radius: 0px;
    background: #b4505a;
    border: 1px solid #b4505a;
    color: #000;
    display: inline-block;
    font-weight: normal;
    position: relative;
    letter-spacing: 2px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}
@media (min-width: 768px){
    .img-margin-bottom-large{
        margin-bottom: 3.5rem;
    }
}
h3.personalized{
    color: black;
}
h4.personalized{
    font-family: "Playfair Display", serif;
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
h5.personalized{
    font-family: "Playfair Display", serif;
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: normal;
}
p.personalized{
    color: #667777 !important;
}
div.personalized{
    color: black !important;
}
.comments-area h4 {
    text-align: center;
    margin-bottom: 50px;
}
@media (max-width: 767px){
    .post-content-area .single-post .meta-details {
        text-align: left !important;
    }
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    white;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    white;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    white;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    white;
}

::placeholder { /* Most modern browsers support this now. */
    color:    white;
}


.widget-wrap .single-sidebar-widget:last-child {
    border-bottom: none;
    margin-bottom: 0;
}
.widget-wrap .single-sidebar-widget {
    margin: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.widget-wrap .tag-cloud-widget .tagcloud-title {
    background: #b4505a;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    margin-bottom: 30px;
}
.widget-wrap .tag-cloud-widget ul li {
    display: inline-block;
    border: 1px solid #eee;
    background: #fff;
    padding: 4px 14px;
    margin-bottom: 10px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}
.widget-wrap .tag-cloud-widget ul li a {
    font-size: 12px;
    color: #000;
}
.widget-wrap .tag-cloud-widget ul li:hover {
    background: #b4505a;
}
.widget-wrap .tag-cloud-widget ul li:hover a {
    color: #fff;
}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#blog #Posts .Post .meta-details .realTags, .realTags{    
    margin-bottom: 30px;
    padding-left: 0px;
    max-height: fit-content;
    overflow-y: auto;
    display: block;
    padding-right: 10px;
    background-color: #f9f9ff;
    box-shadow: -20.84px 21.58px 30px 0 rgba(176,176,176,.1);
    color: black;
    border-right: 2px solid!important;
}

#blog #Posts .Post .meta-details .realTags li {
    display: inline-block;
    font-size: 14px;
}

#blog #Posts .Post .meta-details .realTags li a {
    color: #000;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

#articolo .single-post .meta-details .realTags, #ricetta .single-post .meta-details .realTags {
    margin-bottom: 30px;
    padding-left: 0px;
    max-height: fit-content;
    overflow-y: auto;
    display: block;
    padding-right: 10px;
    background-color: #f9f9ff;
    box-shadow: -20.84px 21.58px 30px 0 rgba(176,176,176,.1);
    color: black;
    border-right: 2px solid!important;
}

#articolo .single-post .meta-details .realTags, #ricetta .single-post .meta-details .realTags li {
    display: inline-block;
    font-size: 14px;
}

#articolo .single-post  .meta-details .realTags li a {
    color: #000;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}


h3.nomeArt, h2.nomeArt{
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: rgb(74, 74, 74);
    min-height: fit-content;
}

h3.nomeRic, h2.nomeRic{
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: rgb(74, 74, 74);
    min-height: fit-content;
}

.blogIMG{
    max-height: 500px;
    border-radius: 10px;
}
.tagLink:hover{
    color: #920202 !important; 
}
.widget-wrap .newsletter-widget .newsletter-title {
    background: #b4505a;
    color: #fff;
    text-align: center;
    padding: 12px 0px;
}
.widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0px;
    color: #777777;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7;
}
.widget-wrap .newsletter-widget .col-autos {
    width: 100%;
}
.widget-wrap .newsletter-widget .form-control {
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px;
    font-size: 13px;
    color: #ccc;
    padding: 9px;
    padding-left: 0px;
}
.widget-wrap .newsletter-widget .bbtns {
    background: #b4505a;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 20px;
    border-radius: 0;
    border: none;
}
.widget-wrap .newsletter-widget .text-bottom {
    margin-bottom: 0px;
}
.widget-wrap .newsletter-widget p {
    text-align: center;
    margin: 20px 0px;
}
.container-sticky{
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
            }
            @media (min-width: 768px){
                .invisible-md{
                    display: none;
                }
            }
            @media (max-width: 767px){
                .visible-md{
                    display: none;
                }
            }
            .description p, .description span{
                color: #444 !important;
            }
            .description p strong, .description span strong{
                font-weight: 700;
            }