.product__details__container {
    display: flex;
}
.product__small__images {
    min-width: 20%;
    padding-right: 10px;
}
.product__big__images {
    max-width: 80%;
}
.pot-small-img a {
    display: block;
}
.pot-small-img a img {
    width: 100%;
}
.pot-small-img {
    margin-top: 10px;
}
.product__small__images {
    margin-top: -10px;
}
.product__tab__content:not(.active) {
    display: none;
}
.product__deatils__tab {
    border-bottom: 1px solid #d5d5d5;
    display: flex;
    justify-content: center;
}
.product__deatils__tab li a {
    color: #505050;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 17px;
    position: relative;
    text-transform: capitalize;
    display: block;
}
.product__deatils__tab li {
    padding: 0 30px;
}
.product__deatils__tab li a::before {
    background: #ff4136 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    position: absolute;
    transition: all 0.5s ease 0s;
    width: 0;
}
.product__deatils__tab li.active a::before {
    width: 100%;
}
.product__deatils__tab li a:hover {
    width: 100%;
}
.title__6 {
    color: #505050;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 28px;
    text-transform: capitalize;
}
.product__desc p {
    color: #666666;
    font-size: 14px;
    line-height: 26px;
}
.product__desc {
    margin-bottom: 50px;
}
.feature__list li a {
    color: #666666;
    transition: all 0.3s ease 0s;
}
.feature__list li a i {
    padding-right: 10px;
}
.feature__list li + li {
    padding-top: 8px;
}
.feature__list li a:hover {
    color: #ff4136;
}
.pro__review {
    display: flex;
}
.review__thumb {
    margin-right: 30px;
    min-width: 8%;
}
.review__info h4 {
    color: #000;
    display: inline-block;
    font-size: 20px;
    line-height: 16px;
    padding-right: 30px;
    text-transform: uppercase;
}
.review__info {
    display: block;
    margin-bottom: 5px;
}
.rating__send {
    display: inline-block;
    float: right;
}
.rating__send a {
    background: #999 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 26px;
    line-height: 24px;
    text-align: center;
    transition: all 0.4s ease 0s;
    width: 50px;
}
.rating__send a:hover {
    background: #ff4136 none repeat scroll 0 0;
    color: #fff;
}
.review__info ul.rating li a {} .review__info ul.rating li i {
    color: #f3c258;
    font-size: 17px;
}
.review__info ul.rating li + li {
    padding-left: 5px;
}
.review__date span {
    color: #999;
    font-size: 14px;
}
.review__details p {
    color: #505050;
    line-height: 26px;
    width: 82%;
}
.pro__review.ans {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-top: 50px;
}
.rating__wrap h2.rating-title {
    font-size: 24px;
    margin-bottom: 12px;
    text-transform: capitalize;
}
.rating__wrap h4.rating-title-2 {
    color: #999;
    font-size: 19px;
    margin-bottom: 10px;
    text-transform: capitalize;
}
.rating__list {
    display: flex;
}
.rating__list ul.rating li i {
    color: #f3c258;
}
.pro__detl__title h1 {
    color: #444444;
    font-size: 30px;
    font-weight: 500;
    text-transform: capitalize;
}
.pro__dtl__rating {
    display: flex;
    margin-top: 11px;
}
.pro__rating {
    display: flex;
    padding-right: 20px;
}
.pro__rating li span {
    color: #f3c258;
    font-size: 16px;
}
.pro__rating li + li {
    padding-left: 10px;
}
.pro__dtl__prize {
    padding: 0;
    margin-bottom: 5px;
    margin-top: 40px;
}
.pro__dtl__prize li {
    color: #b4505a;
    font-size: 20px;
}
.pro__dtl__prize li span{
    color: #666;
    font-size: 20px;
    font-weight: bold;
}
.pro__dtl__prize li.old__prize {
    color: #4d4d4d;
    font-size: 22px;
    padding-right: 15px;
    text-decoration: line-through;
}
.pro__dtl__color {
    margin-bottom: 30px;
}
.pro__choose__color {
    display: flex;
}
.pro__dtl__size {
    margin-bottom: 31px;
}
.title__5 {
    color: #666666;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.pro__choose__color li + li {
    margin-left: 13px;
}
.pro__choose__color li i {
    color: #000;
    font-size: 22px;
}
.pro__choose__color li.red i {
    color: #ff5d42;
}
.pro__choose__color li.blue i {
    color: #425dff;
}
.pro__choose__color li.perpal i {
    color: #fd42ff;
}
.pro__choose__color li.yellow i {
    color: #ffd542;
}
.product-action-wrap {
    align-items: center;
    display: flex;
    margin-bottom: 33px;
}
.prodict-statas {
    padding-right: 20px;
}
.cart-plus-minus {
    display: flex;
}
.cart-plus-minus-box {
    color: #b4505a;
    font-weight: 900;
    border: 0 none;
    max-width: 90px;
    padding-left: 25px;
    padding-right: 24px;
    font-size: 20px;
}
.cart-plus-minus {
    position: relative;
}
.dec.qtybutton {
    cursor: pointer;
    color: #666666;
    font-size: 20px;
    left: 0;
    position: absolute;
}
.inc.qtybutton {
    cursor: pointer;
    position: absolute;
    right: 17px;
    font-size: 20px;
}
.pro__dtl__btn {
    padding: 0;
    display: flex;
}
.pro__dtl__btn li + li {
    margin-left: 16px;
}
.pro__dtl__btn li a {
    border: 1px solid #d5d5d5;
    display: block;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px;
    transition: 0.3s;
}
.pro__dtl__btn li a:hover {
    background: #b4505a;
    border: none;
    color: #fff;
}
.pro__dtl__btn li.buy__now__btn a {    
    color: #fff;
    background: #b4505a;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    width: 250px;
    transition: 0.3s;
    font-weight: bold;
}
.pro__dtl__btn li.buy__now__btn a:hover {
    color: #4b4b4b;    
    background: white;
    border: 1px solid #d5d5d5;
}
.pro__social__share {
    align-items: center;
    display: flex;
    margin-top: 32px;
}
.pro__soaial__link {
    display: flex;
}
.pro__social__share h2 {
    color: #666666;
    font-size: 18px;
    padding-right: 10px;
}
.pro__soaial__link li + li {
    padding-left: 30px;
}
.pro__soaial__link li a i {
    color: #797979;
    font-size: 14px;
    transition: all 0.3s ease 0s;
}
.pro__soaial__link li a:hover i {
    color: #ff4136;
}
.pro__details p {
    color: #666666;
    font-size: 14px;
    line-height: 26px;
}
.pro__details {
    margin-top: 20px;
}
.pro__choose__size {
    display: flex;
}
.pro__choose__size li + li {
    padding-left: 20px;
}
.pro__choose__size li a {
    text-transform: uppercase;
}
.prodict-statas span {
    color: #666666;
    font-size: 18px;
    text-transform: capitalize;
}
.review__box {
    margin-top: 35px;
}
.review-box.name {
    display: flex;
    margin-bottom: 30px;
    margin-left: -15px;
    margin-right: -15px;
}
.review-box.name input {
    border: 1px solid #999;
    height: 40px;
    margin: 0 15px;
    padding: 0 15px;
    width: 50%;
}
.review-box.message textarea {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #999;
    min-height: 100px;
    padding-left: 20px;
}
.review-btn {
    margin-top: 30px;
}
.review-btn a.fv-btn {
    border: 1px solid #999;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 37px;
    padding: 0 28px;
    text-transform: uppercase;
    transition: 0.4s;
}
.review-btn a.fv-btn:hover {
    border: 1px solid #ff4136;
    background: #ff4136;
    color: #fff;
}
.review-box textarea::-moz-placeholder {
    color: #333 !important;
    opacity: 1 !important;
}
/* Chrome, Safari, Edge, Opera */
#quantitaInput::-webkit-outer-spin-button,
#quantitaInput::-webkit-inner-spin-button,
#quantitaInput-Quick::-webkit-outer-spin-button,
#quantitaInput-Quick::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
#quantitaInput[type=number],
#quantitaInput-Quick[type=number]{
    -moz-appearance:textfield;
}
.styled{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
}
.description{
    text-align: justify;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 17px;
    line-height: 1.8em;
    color: #828282;
}
.btnAcquista{
    background: #b4505a;
    box-shadow: 0px 0px 20px #00000070;
}